.fa-times-circle{
color:#B85764!important;
    margin-top: 20px;
    font-size: 120px;
}

.false-text{
    color:#B85764;
    margin-top: 30px;
}


.pr-false{
    color:#5C5C5C!important;
    font-weight: 300;
}

.reference{
    color:#636262;
    margin-top: 30px;
    font-weight: 500!important;
}

.order-text{
    color:#636262;
    font-weight: 500!important;
}
