.fa-check-circle{
    color:#63ADA3;
}

.bg-ego{
    background: white;
}

.form-border{
    border:1px solid black;
}

.payment{
    margin-bottom: 30px;
    font-size: 32px!important;
    font-weight:500;
    margin-top: 0px;
}

.bg-span{
   background:#63ADA3!important;
    color:white!important;
}

.all-teim{
font-weight: bold;

}