.complete-submit-order-2{
background: #63ADA3!important;
    color:white!important;
}

.bg-ego-new{
    background: white!important;
    border:none!important;
    margin-bottom: 50px;
}

.true{
    padding: 0;
}